HTTP header names must be treated case-insensitively.

The server needs to treat http headers in a case-insensitive fashion.  Right now, for example, it checks for the "Content-Type" header in a case-sensitive fashion.  `find_header_line` is one function that's definitely wrong.

We need to treat http headers in a case-insensitive fashion.  Read RFC 2616!  See RFC 2616 section 4.2.
